<!--입력하는 곳을 보여준다.-->

{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>분실물을 찾습니다! - 글쓰기</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-success shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>분실물을 찾습니다!</strong>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <form action="{% url 'post' %}" method="post" enctype = "multipart/form-data">
        {% csrf_token %} 
    </br>
    <span style="font-style: italic ; font-weight: bold; font-size: 1.5em;line-height: 1.0em; color: rgb(103, 103, 122); font-family: arial;">
        <h2><strong>새글 작성</strong></h2>
         
    </span>  
        <div class="form-group row" style = margin-top:80px>
            <label for="inputCategory" class="col-sm-2 col-form-label"><strong>카테고리</strong></label>
            <div class="col-sm-10">
                <input type="text" name="category" class="form-control" id="inputCategory">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputMainPhoto" class="col-sm-2 col-form-label"><strong>사진</strong></label>
            <div class="col-sm-10">
                <input type="file" name="mainphoto" class="form-control" id="inputMainPhoto">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
            <div class="col-sm-10">
                <input type="text" name="title" class="form-control" id="inputTitle">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
            <div class="col-sm-10">
                <input type="text" name="author" class="form-control" id="inputAuthor">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
            <div class="col-sm-10">
                <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputColor" class="col-sm-2 col-form-label"><strong>색상</strong></label>
            <div class="col-sm-10">
                <input type="text" name="color" class="form-control" id="inputColor">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputLocation" class="col-sm-2 col-form-label"><strong>위치</strong></label>
            <div class="col-sm-10">
                <input type="text" name="location" class="form-control" id="inputLocation">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputLostDate" class="col-sm-2 col-form-label"><strong>분실날짜</strong></label>
            <div class="col-sm-10">
                <textarea type="text" name="Lost_date" class="form-control" id="inputLostDate"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" role="button" value="글쓰기">
            </div>
        </div>
    </form>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>